{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Painel Administrativo
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" >
  </head>
  <body>
    <div class="layout">
      <aside>
        <h1>Painel Admin</h1>

        <a href="{% url 'dashboard:home' %}">Dashboard</a>
        <a href="{% url 'dashboard:event_list' %}">Eventos</a>
        <a href="{% url 'dashboard:order_list' %}">Pedidos</a>
        <a href="{% url 'dashboard:checkin_search' %}">Check-in</a>
        <a href="{% url 'events:event_list' %}">Ver site</a>

        <form method="post" action="{% url 'dashboard:logout' %}">
          {% csrf_token %}
          <button type="submit" class="sidebar-button">Sair</button>
        </form>
      </aside>

      <main>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
      </main>
    </div>
  </body>
</html>
