{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="button" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if selected_status %}&status={{ selected_status }}{% endif %}">
                Anterior
            </a>
        {% endif %}

        <span>
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="button" href="?page={{ page_obj.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}{% if selected_status %}&status={{ selected_status }}{% endif %}">
                Próxima
            </a>
        {% endif %}
    </div>
{% endif %}